@import 'node_modules/susy/sass/susy';
@import 'include-media';
@import 'customizer-mega-nav-colours';

$susy: (
	columns: 12,
	gutters: 1,
	math: fluid,
	output: float,
	gutter-position: after,

	use-custom: (
		box-sizing: false
	)
);

li.lsxmm-active {
	position: static;

	&.lsxmm-doing-preview {
		ul.lsxmm-sub-menu { display: block; }
	}
}

#masthead ul.lsxmm-sub-menu {
	@include media('>=desktop') {
		left: 5%;
		width: 90%;
	}
}

@include media('>=desktop') {
	#masthead {
		.lsxmm-fullscreen {
			.dropdown-menu {
				&.lsxmm-sub-menu {
					width: 100vw;
					left: 50%;
					right: 50%;
					margin-left: -50vw;
					margin-right: -50vw;
					.lsxmm-mega-menu {
						max-width: 1140px;
						margin: 0 auto;
					}
				}
			}
		}
	}
}

.lsxmm-mega-menu {
	.lsxmm-row {
		@include media('>=desktop') { display: flex; }
	}

	[class*='lsxmm-span-'] {
		@include media('>=desktop') { position: relative; }
	}

	.mega-menu-image {
		@include media('>=desktop') {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			bottom: -15px;
			left: -30px;
			margin-bottom: 0 !important;
			position: absolute;
			right: 0;
			text-indent: -9999px;
			top: -15px;
		}
	}

	.widget {
		padding: 15px 0;

		h1, h2, h3, h4, h5, h6, .widget-title {
			margin: 0 0 15px;
		}

		a:not(.btn) { transition: all 300ms ease; }

		ul {
			padding-left: 0;
			list-style: none;
		}
	}
}

@include media('>=phone') {
	@for $i from 1 through 12 {
		.lsxmm-span-#{$i} { @include span( $i ); }
		.lsxmm-pre-#{$i} { @include pre( $i ); }
		.lsxmm-post-#{$i} { @include post( $i ); }
	}

	.lsxmm-last { @include last; }

	.lsxmm-mega-menu { padding: 15px 3rem; }

	.lsxmm-row {
		&:before, &:after {
			content: "";
			display: table;
		}

		&:after { clear: both; }
	}
}

@include customizer-mega-nav-colours(#418AD0, #FFF);
